<h1>Welcome#show</h1>
<p>Find me in app/views/welcome/show.html.erb</p>


<% content_for :javascripts %>

  <!-- build:js /scripts/welcome.js -->
  <script src="/scripts/welcome.js"></script>
  <!-- endbuild -->

<% end %>